* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: futura-pt, sans-serif;
}

h1{
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 5rem;
  padding: 2rem;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  padding: 2rem;
  text-align: center;
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.8rem;
}

ul{
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.atmos-container {
  background-image: url("../css/images/atmos_casestudy_hero.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  /* background-size: auto; */
  /* background-attachment: fixed; */
  display: grid;
  grid-template-areas:
  "navbar"
  "hero"
  "overview"
  "user-research"
  "comp-analysis"
  "opportunity"
  "user-flows"
  "wireframing"
  "wireframing-imgs"
  "branding"
  "branding-images"
  "style-guide"
  "hifi-mockups"
  "hifi-mockups-2"
  "preference"
  "final-mockups"
  "reflections"
  ;
  /* margin: auto; */
}

.home-container {
  display: grid;
  grid-template-areas:
  "home-navbar"
  "title-section"
  "home-hero"
  "home-bottom-text";
}

.bio-container {
  display: grid;
  grid-template-areas:
  "bio-hero"
  "bio-body"
  ;
}

.roles, .deliverables, .specs, .navbar, .overview-text, .drive, .dropbox, .evernote, .opportunity-intro, .user-personas, .user-persona-1, .user-persona-2, .user-persona-3, .user-stories, .key-features, .user-flows-1, .user-flows-2, .wireframing-intro, .revisions {
  padding: 2rem 0;
}

.wireframe-title-2, .wireframe-title-1, .branding-intro, .mindmap-img, .logo-sketch-title, .logo-sketch-img, .moodboard-img-1, .moodboard-img-2 {
  background-color: white;
  padding: 2rem 0;
}

.moodboard-img-2, .logo-img-1, .logo-img-2, .logo-img-3, .style-guide-img, .hifi-intro, .hifi-v1 {
  background-color: white;
  padding: 2rem 0;
}

.wireframe-sketch-1, .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-img-1, .wireframe-img-2, .wireframe-img-3, .wireframe-img-4, .wireframe-img-5, .wireframe-img-6{
  padding: 2rem 0;
}


.hero {
  display: grid;
  grid-area: hero;
  grid-template-areas:
    "cloud-logo"
    "intro"
    "roles"
    "deliverables"
    "specs"
    "main-mockup"
    "divider";
}

.overview {
  display: grid;
  grid-area: hero;
  grid-template-areas:
    "divider"
    "overview-text"
    "divider-btm";
}

.user-research {
  display: grid;
  grid-area: user-research;
  grid-template-areas:
    "research-intro"
    "survey-results";
}

.comp-analysis {
  display: grid;
  grid-area: comp-analysis;
  grid-template-areas:
    "drive"
    "dropbox"
    "evernote";
}

.opportunity {
  display: grid;
  grid-area: opportunity;
  grid-template-areas:
    "opportunity-intro"
    "user-personas"
    "user-persona-grid"
    /* "user-persona-1"
    "user-persona-2"
    "user-persona-3" */
    "user-stories"
    "key-features"
    "user-flows-1"
    "user-flows-2"
    "divider"
    "divider-btm";
}

.user-flows {
  display: grid;
  grid-area: user-flows;
  grid-template-areas:
  "user-flows-1"
  "user-flows-2";
}

.wireframing {
  display: grid;
  grid-area: wireframing;
  grid-template-areas:
  "divider"
  "wireframing-intro"
  "divider-btm"
  ;
}

.wireframing-imgs {
  display: grid;
  grid-gap: 1rem;
  grid-area: wireframing-imgs;
  grid-template-areas:
  "wireframe-title-1"
  "wireframe-sketch-1"
  "wireframe-sketch-2"
  "wireframe-sketch-3"
  "wireframe-title-2"
  "wireframe-img-1"
  "wireframe-img-2"
  "wireframe-img-3"
  "wireframe-img-4"
  "wireframe-img-5"
  "wireframe-img-6";
}

.branding {
  display: grid;
  grid-gap: 1rem;
  grid-area: branding;
  grid-template-areas:
  "divider"
  "branding-intro"
  "mindmap-img"
  "logo-sketch-title"
  "logo-sketch-img"
  "divider-btm";
}

.branding-images {
  display: grid;
  grid-gap: 1rem;
  grid-area: branding-images;
  grid-template-areas:
  "moodboard-img-1"
  "moodboard-img-2"
  "logo-img-1"
  "logo-img-2"
  "logo-img-3";
}

.style-guide {
  display: grid;
  grid-area: style-guide;
  grid-template-areas:
  "style-guide-img"
  "divider"
  "divider-btm";
}

.hifi-mockups {
  display: grid;
  grid-area: hifi-mockups;
  grid-gap: 2rem;
  grid-template-areas:
  "hifi-intro"
  "hifi-v1"
  "hifi-v2"
  "revisions"
  "hifi-3-img1";
}

.hifi-mockups-2 {
  display: grid;
  grid-area: hifi-mockups-2;
  grid-gap: 2rem;
  grid-template-areas:
  "hifi-3-img2"
  "hifi-3-img3";
}

.preference {
  display: grid;
  grid-area: preference;
  grid-template-areas:
  "preference-testing";
}

.final-mockups {
  display: grid;
  grid-area: final-mockups;
  grid-gap: 2rem;
  grid-template-areas:
  "final-mockup-1"
  "final-mockup-2"
  "final-mockup-3"
  "final-mockup-4"
  "final-mockup-5"
  "final-mockup-6"
  "usability-testing"
  "testing-img1"
  "testing-img2"
  "testing-img3"
  "testing-text1"
  "testing-text2"
  "testing-text3" ;
}

.reflections {
  display: grid;
  grid-area: reflections;
  grid-template-areas:
  "reflections-text";
}

.user-persona-grid {
  display: grid;
  grid-area: user-persona-grid;
  grid-template-areas:
  "persona-img1"
  "persona-title1"
  "persona-quote1"
  "frustrations1"
  "goals1"

  "persona-img2"
  "persona-title2"
  "persona-quote2"
  "frustrations2"
  "goals2"

  "persona-img3"
  "persona-title3"
  "persona-quote3"
  "frustrations3"
  "goals3";
}

.bio-body {
  display: grid;
  grid-area: bio-body;
  grid-template-areas:
  "bio-img"
  "boxes"
  "dance"
  "ideo"
  "bio-quote"
  "conclusion";
}

.bio-hero {
  display: grid;
  grid-area: bio-hero;
  grid-template-areas:
  "hero-intro";
}

.navbar {
  grid-area: navbar;
  padding: 3rem;
  background-color: transparent;
}

.cloud-logo {
  grid-area: cloud-logo;
  width: 100%;
  background-color: transparent;
}

.hero-intro {
  grid-area: intro;
  background-color: transparent;
}

.roles {
  grid-area: roles;
  background-color: transparent;
}

.deliverables {
  grid-area: deliverables;
}

.specs {
  grid-area: specs;
}

.img-divider {
  grid-area: divider;
  padding: 5rem 0;
  width: 100%;
}

.img-divider-btm {
  grid-area: divider-btm;
  padding: 5rem 0;
  width: 100%;
}

.overview-text {
  text-align: left;
  grid-area: overview-text;
  padding: 5rem 0;
}

.main-mockup {
  grid-area: main-mockup;
  padding: 10rem 0;
  width: 100%;
}

.overview {
  grid-area: overview;
  /* padding: 40rem 2rem; */
}

.research-intro {
  grid-area: research-intro;
  padding: 10rem 0;
}

.survey-results {
  grid-area: survey-results;
  padding: 10rem 0;
}

.drive {
  grid-area: drive;
  width: 100%;
  padding: 5rem;
}

.dropbox {
  grid-area: dropbox;
  width: 100%;
  padding: 5rem;
}

.evernote {
  grid-area: evernote;
  width: 100%;
  padding: 5rem;
}

.opportunity-intro {
  grid-area: opportunity-intro;
}

.user-personas {
  grid-area: user-personas;
}

.user-persona-1 {
  grid-area: user-persona-1;
}

.user-persona-2 {
  grid-area: user-persona-2;
}

.user-persona-3 {
  grid-area: user-persona-3;
}

.user-stories {
  grid-area: user-stories;
}

.key-features {
  grid-area: key-features;
}

.user-flows-1 {
  grid-area: user-flows-1;
  width: 100%;
  padding: 10rem;
}

.user-flows-2 {
  grid-area: user-flows-2;
  width: 100%;
  padding: 10rem;
}

.wireframing-intro {
  grid-area: wireframing-intro;
}

.wireframe-title-1 {
  grid-area: wireframe-title-1;
  padding: 10rem 0;
}

.wireframe-sketch-1 {
  grid-area: wireframe-sketch-1;
  width: 100%;
}

.wireframe-sketch-2 {
  grid-area: wireframe-sketch-2;
  width: 100%;
}

.wireframe-sketch-3 {
  grid-area: wireframe-sketch-3;
  width: 100%;
}

.wireframe-title-2 {
  grid-area: wireframe-title-2;
}

.wireframe-img-1 {
  grid-area: wireframe-img-1;
  width: 100%;
}

.wireframe-img-2 {
  grid-area: wireframe-img-2;
  width: 100%;
}

.wireframe-img-3 {
  grid-area: wireframe-img-3;
  width: 100%;
}

.wireframe-img-4 {
  grid-area: wireframe-img-4;
  width: 100%;
}

.wireframe-img-5 {
  grid-area: wireframe-img-5;
  width: 100%;
}

.wireframe-img-6 {
  grid-area: wireframe-img-6;
  width: 100%;
}

.branding-intro {
  grid-area: branding-intro;
  width: 100%;
}

.mindmap-img {
  grid-area: mindmap-img;
  width: 100%;
}

.logo-sketch-title {
  grid-area: logo-sketch-title;
}

.logo-sketch-img {
  grid-area: logo-sketch-img;
  width: 100%;
}

.moodboard-img-1 {
  grid-area: moodboard-img-1;
  width: 100%;
}

.moodboard-img-2 {
  grid-area: moodboard-img-2;
  width: 100%;
}

.logo-img-1 {
  grid-area: logo-img-1;
  width: 100%;
}

.logo-img-2 {
  grid-area: logo-img-2;
  width: 100%;
}

.logo-img-3 {
  grid-area: logo-img-3;
  width: 100%;
}

.style-guide-img {
  grid-area: style-guide-img;
  width: 100%;
}

.hifi-intro {
  grid-area: hifi-intro;
}

.hifi-v1 {
  grid-area: hifi-v1;
  width: 100%;
}

.hifi-v2 {
  grid-area: hifi-v2;
  width: 100%;
}

.revisions {
  grid-area: revisions;
}

.hifi-3-img1{
  grid-area: hifi-3-img1;
  width: 100%;
}

.hifi-3-img2{
  grid-area: hifi-3-img2;
  width: 100%;
}

.hifi-3-img3{
  grid-area: hifi-3-img3;
  width: 100%;
}

.preference {
  grid-area: preference;
}

.preference-testing{
  grid-area: preference-testing;
}

.final-mockup-1 {
  grid-area: final-mockup-1;
  width: 100%;
}

.final-mockup-2 {
  grid-area: final-mockup-2;
  width: 100%;
}

.final-mockup-3 {
  grid-area: final-mockup-3;
  width: 100%;
}

.final-mockup-4 {
  grid-area: final-mockup-4;
  width: 100%;
}

.final-mockup-5 {
  grid-area: final-mockup-5;
  width: 100%;
}

.final-mockup-6 {
  grid-area: final-mockup-6;
  width: 100%;
}

.usability-testing {
  grid-area: usability-testing;
}

.testing-img1 {
  grid-area: testing-img1;
  width: 100%;
}

.testing-img2 {
  grid-area: testing-img2;
  width: 100%;
}

.testing-img3 {
  grid-area: testing-img3;
  width: 100%;
}

.testing-text1 {
  grid-area: testing-text1;
}

.testing-text2 {
  grid-area: testing-text2;
}

.testing-text3 {
  grid-area: testing-text3;
}

.reflections {
  grid-area: reflections;
}

.reflections-text {
  grid-area: reflections-text;
}

.home-navbar {
  grid-area: home-navbar;
  padding: 2rem;
}

.home-hero {
  grid-area: home-hero;
  width: 100%;
}

.title-section {
  grid-area: title-section;
  padding-top: 10rem;
}

.home-bottom-text {
  grid-area: home-bottom-text;
}

.persona-img1 {
  grid-area: persona-img1;
  width: 100%;
  padding: 2rem;
}
.persona-img2 {
  grid-area: persona-img2;
  width: 100%;
  padding: 2rem;
}
.persona-img3 {
  grid-area: persona-img3;
  width: 100%;
  padding: 2rem;
}
.persona-title1 {
  grid-area: persona-title1;
  padding: 2rem;
}
.persona-title2 {
  grid-area: persona-title2;
  padding: 2rem;
}
.persona-title3 {
  grid-area: persona-title3;
  padding: 2rem;
}
.persona-quote1 {
  grid-area: persona-quote1;
}
.persona-quote2 {
  grid-area: persona-quote2;
}
.persona-quote3 {
  grid-area: persona-quote3;
}
.frustrations1 {
  grid-area: frustrations1;
  padding: 2rem;
}
.frustrations2 {
  grid-area: frustrations2;
  padding: 2rem;
}
.frustrations3 {
  grid-area: frustrations3;
  padding: 2rem;
}
.goals1 {
  grid-area: goals1;
  padding: 2rem;
}
.goals2 {
  grid-area: goals2;
  padding: 2rem;
}
.goals3 {
  grid-area: goals3;
  padding: 2rem;
}

.hero-intro {
  grid-area: hero-intro;
}
.bio-img {
  grid-area: bio-img;
  width: 100%
}
.boxes {
  grid-area: boxes;
}
.dance {
  grid-area: dance;
}
.ideo{
  grid-area: ideo;
}
.bio-quote{
  grid-area: bio-quote;
}
.conclusion {
  grid-area: conclusion;
}


@media (min-width: 30rem) {
  .atmos-container {
    background-image: url("../css/images/atmos_casestudy_hero.png");
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-areas:
    "navbar navbar navbar"
    ". hero ."
    ". overview ."
    ". user-research ."
    "comp-analysis comp-analysis comp-analysis"
    ". opportunity ."
    "user-flows user-flows user-flows"
    ". wireframing ."
    "wireframing-imgs wireframing-imgs wireframing-imgs"
    ". branding ."
    "branding-images branding-images branding-images"
    ". style-guide ."
    ". hifi-mockups ."
    "hifi-mockups-2 hifi-mockups-2 hifi-mockups-2"
    ". preference ."
    "final-mockups final-mockups final-mockups"
    ". reflections .";
    /* margin: 1%; */
  }
  .home-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "home-navbar home-navbar"
    "title-section ."
    "home-hero home-hero"
    ". home-bottom-text";
  }

  .bio-container {
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-areas:
    ". bio-hero ."
    ". bio-body ."
    ;
  }
  .hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". cloud-logo ."
    "intro intro intro"
    "roles deliverables specs"
    "main-mockup main-mockup main-mockup"
    "divider divider divider";
  }
  .overview {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "overview-text overview-text overview-text"
    "divider-btm divider-btm divider-btm";
  }
  .user-research {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "research-intro research-intro research-intro"
    "survey-results survey-results survey-results" ;
  }
  .comp-analysis{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "drive dropbox evernote" ;
  }
  .opportunity {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "opportunity-intro opportunity-intro opportunity-intro"
    "divider divider divider"
    "user-personas user-personas user-personas"
    "user-persona-grid user-persona-grid user-persona-grid"
    /* "user-persona-1 user-persona-1 user-persona-1"
    "user-persona-2 user-persona-2 user-persona-2"
    "user-persona-3 user-persona-3 user-persona-3" */
    "divider-btm divider-btm divider-btm"
    "user-stories user-stories user-stories"
    "key-features key-features key-features";
  }
  .user-flows {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "user-flows-1 user-flows-1 user-flows-1"
    "user-flows-2 user-flows-2 user-flows-2";
  }
  .wireframing {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "divider divider divider"
    "wireframing-intro wireframing-intro wireframing-intro"
    ;
  }
  .wireframing-imgs {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "wireframe-title-1 wireframe-title-1 wireframe-title-1"
    "wireframe-sketch-1 wireframe-sketch-2 wireframe-sketch-3"
    "wireframe-sketch-1 wireframe-sketch-2 wireframe-sketch-3"
    "wireframe-sketch-1 wireframe-sketch-2 wireframe-sketch-3"
    "wireframe-title-2 wireframe-title-2 wireframe-title-2"
    "wireframe-img-1 wireframe-img-2 wireframe-img-3"
    "wireframe-img-4 wireframe-img-5 wireframe-img-6";
  }
  .branding {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "divider-btm divider-btm divider-btm"
    "branding-intro branding-intro branding-intro"
    "mindmap-img mindmap-img mindmap-img"
    "logo-sketch-title logo-sketch-title logo-sketch-title"
    "logo-sketch-img logo-sketch-img logo-sketch-img";
  }
  .branding-images {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "moodboard-img-1 logo-img-1"
    "moodboard-img-2 logo-img-2"
    ". logo-img-3 ";
  }
  .style-guide {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "style-guide-img style-guide-img style-guide-img"
    "divider divider divider" ;
  }
  .hifi-mockups {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "hifi-intro hifi-intro hifi-intro"
    "hifi-v1 hifi-v1 hifi-v1"
    "hifi-v2 hifi-v2 hifi-v2"
    "revisions revisions revisions"
    "hifi-3-img1 hifi-3-img1 hifi-3-img1";
  }
  .hifi-mockups-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "hifi-3-img2 hifi-3-img3"
    "hifi-3-img2 hifi-3-img3";
  }
  .preference {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "preference-testing preference-testing preference-testing";
  }
  .final-mockups {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "final-mockup-1 final-mockup-2"
    "final-mockup-3 final-mockup-4"
    "final-mockup-5 final-mockup-6"
    "usability-testing usability-testing"
    "testing-img1 testing-text1"
    "testing-img2 testing-text2"
    "testing-img3 testing-text3"
    ;
  }
  .reflections {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "reflections-text reflections-text reflections-text";
  }
  .user-persona-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "persona-img1 persona-title1"
    "persona-quote1 persona-quote1"
    "frustrations1 goals1"

    "persona-img2 persona-title2"
    "persona-quote2 persona-quote2"
    "frustrations2 goals2"

    "persona-img3 persona-title3"
    "persona-quote3 persona-quote3"
    "frustrations3 goals3"
  }
  .bio-body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "bio-img bio-img bio-img"
    "boxes boxes boxes"
    "dance dance dance"
    "ideo ideo ideo"
    "bio-quote bio-quote bio-quote"
    "conclusion conclusion conclusion";
  }
  .bio-hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "hero-intro hero-intro hero-intro";
  }
}
