* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-areas:
  "navbar navbar"
  "hero"
  "overview"
  ;
  margin: auto;

}

.navbar {
  background-color: #00ffff;
  grid-area: navbar;
  padding: 3rem;
}

.hero {
  background-color: #ffffff ;
  display: grid;
  grid-area: hero;
  grid-template-areas:
    "img-grid "
    "intro"
    "roles"
    "deliverables"
    "specs"
    "image"
    "divider";
}

.overview {
  background-color: #ffffff ;
  display: grid;
  grid-area: hero;
  grid-template-areas:
    "divider"
    "overview-text";
}

.img-grid {
  background-color: green;
  grid-area: img-grid;
  padding: 10rem 0;
}

.roles, .deliverables, .specs, .hero-intro {
  text-align: center;
  background-color: white;
}

.hero-intro {
  grid-area: intro;
  padding: 10rem 0;
}

.roles {
  grid-area: roles;
  padding: 10rem 0;

}

.deliverables {
  grid-area: deliverables;
  padding: 10rem 0;
}

.specs {
  grid-area: specs;
  padding: 10rem 0;
}

.img-divider {
  background-color: #B1D4E7;
  grid-area: divider;
  padding: 10rem 0;
}

.overview-text {
  background-color: #B1D4E7;
  grid-area: overview-text;
  padding: 10rem 0;
}

.image {
  background-color: orange;
  grid-area: image;
  padding: 20rem 0;
}

.overview {
  background-color: #ffff00;
  grid-area: overview;
  /* padding: 40rem 2rem; */

}

@media (min-width: 30rem) {
  body {
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-areas:
    "navbar navbar navbar"
    ". hero ."
    ". overview .";
    margin: 1%;
  }
  .hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". img-grid ."
    "intro intro intro"
    "roles deliverables specs"
    "image image image"
    "divider divider divider";
  }
  .overview {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "overview-text overview-text overview-text"
    "divider divider divider";
}
